.container {
    min-height: 100vh; /* адаптивная высота экрана */
    width: 100%;
    background: rgba(219, 216, 216, 0.281);
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 170, 186, 0.2); /* Subtle shadow */
    align-items: center; /* центрируем текст */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.text {
    font-size: clamp(1.5rem, 6vw, 5rem); /* адаптивный размер шрифта */
    color: rgba(61, 60, 60, 0.665);
    margin: 0;
    word-break: break-word;
}
